{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false,
        "minify": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@apis": "./app/components/apis",
          "@hoc": "./app/components/hoc",
          "@libs": "./app/components/libs",
          "@elements": "./app/components/elements",
          "@modules": "./app/components/modules",
          "@templates": "./app/components/templates",
          "@layouts": "./app/components/layouts",
          "@config": "./app/config",
          "@contexts": "./app/contexts",
          "@constants": "./app/constants",
          "@hook": "./app/hooks",
          "@images": "./app/images",
          "@redux": "./app/redux",
          "@saga": "./app/saga",
          "@styles": "./app/styles",
          "@types": "./app/types",
          "@utils": "./app/utils"
        }
      }
    ]
  ]
}
